<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Billing</title>
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.6.1/dist/paper.min.css">
    <script src="angular.min.js"></script>
</head>

<nav class="border fixed split-nav">
  <div class="nav-brand">
    <h3><a href="#">Movistar</a></h3>
  </div>
  <div class="collapsible">
    <input id="collapsible1" type="checkbox" name="collapsible1">
    <button>
    <label for="collapsible1">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </label>
    </button>
    <div class="collapsible-body">
      <ul class="inline">
        <li><a href="#">Show CDRS</a></li>
        <li><a href="#">Billing</a></li>
      </ul>
    </div>
  </div>
</nav>

<br/>

<body ng-app="myApp" ng-controller="myCtrl">
    <h1>Call Data Records</h1>
    <div class="form-group">
      <label for="paperSelects1">Select</label>
    <select ng-model="selected" ng-options="opt as opt for opt in dates.result" ng-change="filter()">
      <option>Horario: {{opt}}</option>
    </select>
    </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Origin Number</th>
          <th>Destiny Number</th>
          <th>Date of call</th>
          <th>Hour of call</th>
          <th>Duration</th>
          <th>Cost</th>
          <th>Rated Date</th>
          <th>Rated Time</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="c in cdrs.result">
          <td>{{c.originNumber}}</td>
          <td>{{c.destinyNumber}}</td>
          <td>{{c.startCallTime.date.day}}-{{c.startCallTime.date.month}}-{{c.startCallTime.date.year}}</td>
          <td>{{c.startCallTime.time.hour}}:{{c.startCallTime.time.minute}}</td>
          <td>{{c.timeDuration}}</td>
          <td>{{c.cost}}</td>
          <td>{{c.updatedAt.date.day}}-{{c.updatedAt.date.month}}-{{c.updatedAt.date.year}}</td>
          <td>{{c.updatedAt.time.hour}}:{{c.updatedAt.time.minute}}</td>
        </tr>
      </tbody>
    </table>

    <script>
      var app = angular.module('myApp', []);
      app.controller('myCtrl', function($scope, $http) {
        $scope.selected = "TODOS";
        $scope.dates = {result: "TODOS"}
        $http({
          method : "GET",
          url : "http://localhost:4567/rated-date-time"
        }).then(function mySuccess(response) {
            $scope.dates.result = response.data.ratedTimes
          }, function myError(response) {
            $scope.dates.result = response.data.ratedTimes;
        });

        $scope.filter = function() {
          var dateString = $scope.selected
          var correctedDate = [dateString.slice(0, 11), "T", dateString.slice(11)].join('');
          var date = correctedDate.replace(/ /g, '');
          $scope.cdrs = { result: null }
          $http({
          method : "GET",
          url : "http://localhost:4567/rated-date-time/" + date
          }).then(function mySuccess(response) {
            $scope.cdrs.result = response.data.result; 
            console.log($scope.cdrs.result);
          }, function myError(response) {
            $scope.cdrs.result = response.data.result; 
          });
        }
      });
    </script>

</body>
</html>
